/* overriding bootstrap default colors */

h1, h2, h3, h4, h5, h6 {
  color: black;
}

.navbar-default .navbar-nav>li>a {
    color: black;
}

.navbar-default .navbar-toggle {
    border-color: black;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
}

.navbar {
  background-color: grey;
}

/* styling the navbar*/

.navbar-brand > h1 {
  margin: 0;
  font-size: 1.5em;
}

@media (max-width: 767px) {
  .navbar-nav li {
    width: 100%;
  }
}

.navbar > ul {
  margin-top: auto;
  margin-bottom: auto;
}

.navbar-nav a {
  text-align: center;
}


/*styling the menu*/

#menu {
  margin: 0 auto;
  width: 60%;
}

#menu * {
  text-align: center;
}

#menu section {
  background-color: grey;
}

h2 {
  font-size: 1.5em;
}
